* {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: lightgray;
}

header {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo {
    display: flex;
    align-items: center;
    color: #1b1b32;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #1b1b32;
}

nav a {
    font-weight: 600px;
    padding-right: 10px;
}

a:hover {
    color: orange;
}

.contenedor {
    display: flex;
    align-items: normal;
}

main {
    
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.contenido {
    font-size: 38px;
    text-align: center;

}

.contenido :first-letter {
    text-decoration: underline;
    color: darkgray;
}

.resto img {
    width: 50%;
    margin: 10px 145px;
    border-radius: 20px;
    box-sizing: content-box;
    
}

p {
    font-weight: bold;

}

.iconos img {
    width: 70px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iconos {
    text-align: center;
}

.resto a {
    width: fit-content;
    display: block;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    text-decoration: none;
    margin-left: 240px;
    margin-bottom: 30px;
    color: darkblue;
    
}
    
   


.resto a:hover {
    color: orange;
}

h4 {

    text-decoration: underline;
    font-size: 2rem;
    color: #1b1b32;

}

#informacion p {
    font-weight: lighter;
    font-size: 12px;
}

.resto p {
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; 
}

.saludo {
    max-width: 768px;
    background-color: lightgray;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px black;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    
}



.saludo h1 {
    font-size: 3rem;
    margin-top: 0;
    color: #1b1b32;

}

.saludo h2 {
    margin-top: 0;
    color: #1b1b32;
}

.saludo button {
    padding: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    color: #1b1b32;

}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    .contenido {
        font-size: 30px;
        width: 80%;
    }

     .iconos p {
        width: 70%;
        text-align: justify;
        margin-left: 35px;
        
    }

    .iconos img {
        width: 50px;
        margin-right: 100px;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
        

    .resto img {
        margin-left: 103px;
    }

    .resto a {
        font-size: 1.5rem;
        margin-left: 13rem;
    }

    .saludo {
        width: 60%;
        margin-left: 30px;
    }

    .resto p {
        width: 70%;
        text-align: justify;
        margin-left: 35px;
        font-size: .8rem;
    }

    h4 {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    #informacion p {
        margin-left: 20px;
    }

    

   

     
        
        
}
